body{
    background-color: rgb(250, 214, 220);
    font-size: 35PX;
    color: white;
    text-shadow: 2px 2px 5px rgb(31, 73, 196);
    padding-left: 300px;
    
    
}
.startposition{
    margin-left: 1px;
}




